.banner {
  height: 223px;
  background: rgba(0, 0, 0, 0.3);
  background-image: url(../../assets/banner.svg);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 25px;
  overflow: hidden;
  @include flex-center;
  &__span {
    z-index: 1;
    color: $color-secondary;
    font-size: $xLarge;
  }
  @media all and (max-width: 768px) {
    height: 175px;
    &__span {
      font-size: $large;
      width: 70%;
    }
  }
  @media all and (max-width: 650px) {
    height: 111px;
    border-radius: 10px;
    &__span {
      font-size: $medium;
    }
  }
  &--about {
    background-image: url(../../assets/banner_about.svg);
    @media all and (max-width: 768px) {
      height: 200px;
    }
    @media all and (max-width: 374px) {
      height: 150px;
    }
  }
}
