.HomePageCard {
  @include card-sizing;
  @include flex-end;
  margin-bottom: 50px;
  position: relative;
  &__image {
    @include image;
    top: 5px;
    &--img {
      @include card-sizing;
      object-fit: cover;
    }
  }
  &__title {
    position: absolute;
    width: 100%;
    padding: 15px;
    border-radius: 0 0 10px 10px;
    @include card__typo;
    @include flex-row-wrap;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.5) 100%
    );
    &:hover {
      text-decoration: underline;
    }
  }
  @media all and (max-width: 768px) {
    @include card-sizing-768px;
    margin-bottom: 30px;
    &__image--img {
      @include card-sizing-768px;
    }
  }
  @media all and (max-width: 375px) {
    &__title {
      margin-right: 20px;
    }
  }
}
