.errorPage {
  @include error-page_typo;
  @include flex-column-around;
  height: 750px;
  align-content: center;
  &__logo {
    height: 250px;
  }
  &__span {
    font-size: $large;
  }
  &__link {
    font-size: $small;
  }
  @media all and (max-width: 768px) {
    &__logo {
      height: 99px;
    }
    &__span {
      font-size: $small;
      width: 80%;
      text-align: center;
      position: absolute;
      top: 500px;
    }
    &__link {
      font-size: $xSmall;
    }
  }
}
