.errorPageBody {
  height: 100vh;
  .errorPage {
    color: $color-primary;
    @include flex-column-around;
    height: 60%;
    align-content: center;
    &__logo {
      height: 250px;
    }
    &__span {
      font-size: $large;
    }
    &__link {
      font-size: $small;
    }
    @media all and (max-width: 768px) {
      &__logo {
        height: 99px;
      }
      &__span {
        font-size: $small;
        width: 80%;
        text-align: center;
      }
      &__link {
        font-size: $xSmall;
      }
    }
    @media all and (min-height: 800px) {
      height: 70%;
    }
    @media all and (min-height: 1000px) {
      height: 75%;
    }
  }
}
