.headerDiv {
  padding: 30px;
  @include flex-space-center;
  &__logo {
    width: 210px;
  }
  &__nav {
    @include flex-space-center;
    width: 200px;
    font-size: $medium;
  }
  .active {
    text-decoration: underline;
  }
  @media all and (max-width: 768px) {
    text-transform: uppercase;
    padding: 20px;
    &__logo {
      width: 145px;
    }
    &__nav {
      width: 130px;
      font-size: $xxSmall;
    }
  }
}
.bannerDiv {
  padding: 0 30px;
  @media all and (max-width: 768px) {
    padding: 0 20px;
  }
}
