/*----------------------------display------------------------------*/
@mixin flex-align_center {
  display: flex;
  align-items: center;
}
@mixin flex-align_end {
  display: flex;
  align-items: flex-end;
}
@mixin flex-full_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-space-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin flex-row-wrap {
  display: flex;
  flex-flow: row wrap;
}
@mixin flex-wrap-space {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@mixin flex-nowrap-space {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
@mixin flex-nowrap-reverse-space {
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: space-between;
}
@mixin flex-column-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@mixin flex-column-around {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}
@mixin flex-column-end {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/*-----------------------------typo------------------------------*/
@mixin card_typo {
  color: $color-secondary;
  font-size: $small;
}
@mixin collapse-title_typo {
  color: $color-secondary;
  font-size: $medium;
}
@mixin collapse-content_typo {
  font-size: $medium;
  font-weight: lighter;
}
@mixin error-page_typo {
  color: $color-primary;
  font-family: $font-primary;
}
@mixin carousel-info_typo {
  font-size: $small;
  color: $color-secondary;
}

/*----------------------------sizing------------------------------*/
@mixin card-sizing {
  border-radius: 10px;
  height: 340px;
  width: 100%;
}
@mixin card-sizing-768px {
  height: 255px;
}

// /*----------------------------shadow------------------------------*/
// @mixin new-shadow($color: lightness-shift($color-tertiary)) {
//   color: $color;
//   background-color: $color-tertiary;
// }

// /*-----------------------------color------------------------------*/
// @mixin instructions-background($color: lightness-shift($background)) {
//   color: $color;
//   background-color: $background;
// }

// /*----------------------------pseudo------------------------------*/
// @mixin btn-hover {
//   background: $btn-background--hover;
//   box-shadow: rgb(149 157 165 / 40%) 1px 8px 10px 6px;
// }

/*---------------------------component------------------------------*/
@mixin image {
  overflow: hidden;
  position: relative;
} // OK
// @mixin img {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }

// /*---------------------------margin------------------------------*/
// @mixin margin-underline {
//   margin-bottom: 20px;
//   margin-top: 8px;
// }

// /*-------------------------animations----------------------------*/
// @mixin anim--menu__choice {
//   animation: $anim--menu__title;
//   @for $i from 1 through $menu-item__number {
//     &--#{$i} {
//       animation-delay: $menu-item__delay * $i;
//     }
//   }
// }
