/*----------------------colors-----------------------*/
$color-primary: #ff6060;
$color-secondary: white;

/*----------------------background-----------------------*/
$background: #f6f6f6;
$gallery-background: #f2f2f2;
$footer-background: #000000;

/*-----------------------font-size------------------------*/
$xLarge: 48px;
$large: 36px;
$medium: 24px;
$small: 18px;
$xSmall: 14px;
$xxSmall: 12px;

/*----------------------typo-----------------------*/
$font-primary: "Monserrat", sans-serif;
