/*----------------------------display------------------------------*/
@mixin flex-basic {
  display: flex;
  align-items: center;
} //OK
@mixin flex-full {
  display: flex;
  justify-content: center;
  align-items: center;
} //OK
@mixin flex-column {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
} //OK
@mixin flex-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
} //OK
@mixin flex-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
} //OK
@mixin flex-space-simple {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
} //OK
@mixin flex-flexEnd {
  display: flex;
  align-items: flex-end;
} //OK
@mixin flex-row-simple {
  display: flex;
  flex-flow: row wrap;
} //OK

/*-----------------------------typo------------------------------*/
@mixin card__typo {
  color: $color-secondary;
  font-size: $small;
} //OK
@mixin collapse__title {
  color: $color-secondary;
  font-size: $medium;
} //OK
@mixin hx-style__menu {
  font-weight: bold;
  padding-bottom: 5px;
}

/*----------------------------sizing------------------------------*/
@mixin card-sizing {
  border-radius: 10px;
  height: 340px;
  max-width: 340px;
} //OK
@mixin card-sizing-768px {
  height: 255px;
  max-width: 315px;
}

/*----------------------------shadow------------------------------*/
@mixin new-shadow($color: lightness-shift($color-tertiary)) {
  color: $color;
  background-color: $color-tertiary;
}

/*-----------------------------color------------------------------*/
@mixin instructions-background($color: lightness-shift($background)) {
  color: $color;
  background-color: $background;
}

/*----------------------------pseudo------------------------------*/
@mixin btn-hover {
  background: $btn-background--hover;
  box-shadow: rgb(149 157 165 / 40%) 1px 8px 10px 6px;
}

/*---------------------------component------------------------------*/
@mixin image {
  overflow: hidden;
  position: relative;
} // OK
@mixin img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*---------------------------margin------------------------------*/
@mixin margin-underline {
  margin-bottom: 20px;
  margin-top: 8px;
}

/*-------------------------animations----------------------------*/
@mixin anim--menu__choice {
  animation: $anim--menu__title;
  @for $i from 1 through $menu-item__number {
    &--#{$i} {
      animation-delay: $menu-item__delay * $i;
    }
  }
}
