.banner {
  height: 223px;
  background: rgba(0, 0, 0, 0.3) url(../../assets/banner.svg);
  background-blend-mode: darken;
  border-radius: 25px;
  overflow: hidden;
  @include flex-full;
  &__span {
    z-index: 1;
    color: $color-secondary;

    font-size: $xLarge;
  }
}
